<form accept-charset="UTF-8" action="/users/create" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="emailname">Email:</label>
  <input type="email" id="emailname" name="emailname"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" name="commit" value="Create User">
</form>
